
.divSearch
{ display: flex;
  /* flex-direction: column; */
justify-content: center;
  align-items: center;
  padding-top: 12px}


.formSearch
 { 
    display: flex;
  /* align-items: center; */
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;}


.buttonSearch
 { display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 0;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;}

  .buttonSearch:hover {
    opacity: 1;
  }


/* export const ButtonLabel = styled.span`
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
`; */

.inputSearch
 { display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;}


  .inputSearch::placeholder {
    font: inherit;
    font-size: 18px;
  }

