.nav {
  display: flex;
}

.link {
  display: block;
  padding: 5px 10px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: color 300ms linear;
  position: relative;
}

.link:hover {
  color:#26b9ff;
}

/* active — це клас, який NavLink додає сам */
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color:#e5e5e5;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}


.link.active {
  color: red;
}