.nav {
  display: flex;
}

.link {
  display: block;
  padding: 5px 10px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: color 300ms linear;
  position: relative;
}

.link:hover {
  color: #ff9000;
}

/* active — це клас, який NavLink додає сам */
.link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #26b9ff;
}